#tool{

}

#out{
    width: 90%;
}
#out-pretty{
    width: 90%;
}
#out-pretty table{
    width: 100%;
}

#out-pretty td{
    text-align: center;
}

.obsolete{
    color: red;
    text-decoration: line-through;
}
#input input{
    font-size: xx-large;   
}
#number, #user{
    width: 20%;   
}
#answer, #id{
    width: 70%;   
}
.newmethod {
    color: green;   
}   
.quote{
    border: solid black 1px;
    background-color: #C0C0C0;
}  
